/* boardListView Container */

#wrap{
	width: 100%;
	min-height: 100vh;
	background:url("../../img/index_bg.jpg") no-repeat 50%/ cover;
}
.container{
	width: 100%;
}
.container .inner-container{
	width: 100%;
}
.container .inner-container .boardListView{
	width: 100%;
}
.container .inner-container .boardListView .sections{
	width: 100%;
}
.container .inner-container .boardListView .sections .section.sec1{
	width: 100%;
	background: #ffffff40;
	min-height: calc(100vh - 190px - 192px);
	display: flex;
	justify-content: center;

}
.container .inner-container .boardListView .sections .section.sec1 .sec-con{
	flex: 0 1 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con{
	width:100%;
	padding: 20px;
	background: #000000b8;
	}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con h1.title{
	text-align: center;
	line-height: 50px;
	background: white;
	padding: 10px;
	margin-bottom: 10px;
	}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con table{
	width: 100%;
	background: white;
	text-align: center;
	}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con table thead{}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con table thead tr{}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con table thead tr th{
	border: 1px solid;
	line-height: 30px;}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con table tbody {}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con table tbody tr{
	}
	.container .inner-container .boardListView .sections .section.sec1 .sec-con .boardListView-con table tbody tr td{
	border: 1px solid;
	line-height: 30px;
	}
	.search{
	display: flex;
	justify-content: flex-end;
	}
	.search .search-con{
	padding: 5px;
	
}
	.search .search-con select{
	height: 25px;
}
	.search .search-con input{
	line-height: 20px;
	padding: 0 5px;
	}
