/* header */

.header{
	width: 100%;

}
.header .inner-header{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0 20px 0;
}
.header .inner-header .nav{
	flex: 0 1 1000px;
}
.header .inner-header .nav .top-nav{
	display: flex;
	justify-content:center;
	margin-bottom: 10px;
}
.header .inner-header .nav .top-nav h1{
	line-height: 100px;
	flex: 0 1 1000px;
	text-align: center;
	background: #000000b8;
	color: white;	
}
.header .inner-header .nav .bottom-nav{
}
.header .inner-header .nav .bottom-nav .gnb{
flex: 0 1 1000px;
background: #000000b8;
padding: 0 20px;
}
.header .inner-header .nav .bottom-nav .gnb ul{
	display: flex;
	justify-content: space-between;
}
.header .inner-header .nav .bottom-nav .gnb ul>li{
}
.header .inner-header .nav .bottom-nav .gnb ul>li .se{
color: white;
	line-height: 40px;
	}
.header .inner-header .nav .bottom-nav .gnb ul>li>a{
color: white;
	line-height: 40px;
}